<!-- s : modal -->
<div th:fragment="loginFormFragment">
  <div class="modal fade modal-sheet position-fixed p-4 py-md-5" tabindex="-1" role="dialog" id="modalLoginForm">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">TAX-SMITH</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       	<th:block th:replace="~{common/fragments/login::loginFragment}"></th:block>
      </div>
    </div>
  </div>
</div>
<!-- e : modal -->