<div th:fragment="loginFragment" class="modal-body p-5 pt-0">
	<form id="loginForm" action="/user/login" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="form-floating mb-3">
          <input type="email" class="form-control rounded-3" name="email" placeholder="name@example.com">
          <label> Email address </label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" class="form-control rounded-3" name="password" placeholder="Password">
          <label>Password</label>
        </div>
		<div id="errorMessage" class="alert alert-danger" role="alert" style="display: none;">
		</div>
        <button class="w-100 mb-2 btn btn-lg rounded-3 btn-primary bg-gradient" type="submit">로그인</button>
  	</form>
  	<div>
      <button class="w-100 mb-2 btn btn-lg rounded-3 btn-secondary bg-gradient" onclick="location.href='../user/signup'">회원가입</button>
        <hr class="my-3">
        <h2 class="fs-5 fw-bold mb-3">소셜 계정으로 로그인</h2>
        <button class="w-100 py-2 mb-2 btn rounded-3 bg-warning" type="button">
          <svg class="bi me-1" width="16" height="16"><use xlink:href="#kakao"/></svg>
          Sign up with KAKAO TALK
        </button>
        <button class="w-100 py-2 mb-2 btn rounded-3 bg-info" type="button">
          <svg class="bi me-1" width="16" height="16"><use xlink:href="#google"/></svg>
          Sign up with Google
        </button>
	  </div>

<script>
        document.addEventListener("DOMContentLoaded", function () {
            document.getElementById("loginForm").addEventListener("submit", function (event) {
                event.preventDefault();
                var formData = new FormData(this);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/user/login", true);
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            // 로그인 성공 시 리다이렉션 또는 다음 단계 수행
                            window.location.href = "/";
                        } else {
                            // 로그인 실패 시 에러 메시지 표시
							var response = JSON.parse(xhr.responseText);
                            var errorMessage = response.errorMessage;
                            var errorMessageElement = document.getElementById("errorMessage");
                            errorMessageElement.textContent = errorMessage;
                            errorMessageElement.style.display = "block";
                        }
                    }
                };
                xhr.send(new URLSearchParams(formData));
            });
        });
    </script>
</div>