<html layout:decorate="~{common/layout/defaultLayout}">
<!-- s : main area -->
<main layout:fragment="content">

	<div class="boardNews d-flex align-items-center justify-content-center bg-body-secondary bg-opacity-50">
		<div class="text-center">
			<h4 class="fw-bold">자료실</h4>
			<small class="fw-light">각종 세무 소식과 자료를 확인하세요.</small>
		</div>
	</div>

	<div class="container my-5">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
				<li class="breadcrumb-item" aria-current="page">
					<a class="link-body-emphasis fw-semibold text-decoration-none" href="/boards/news">
						뉴스
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class="link-body-emphasis fw-semibold text-decoration-none" href="/boards/inside">
						일정
					</a>
				</li>
				<li class="breadcrumb-item">
					<a class="link-body-emphasis fw-semibold text-decoration-none" href="/boards/data">
						자료
					</a>
				</li>
			</ol>
		</nav>
	</div>

	<th:block th:replace="~{/pages/board/boardTable::boardSection}"></th:block>

</main>
<!-- e: main area -->

</html>