 <div layout:decorate="~{common/layout/adminLayout}">
    <!-- s : main area -->
	<main layout:fragment="adminContent">
		
      <div class="row justify-content-center mb-5">
        <div class="text-center col-md-8 p-4 py-md-5">
          <h4 class="fw-bold"> 회원 관리 </h4>
        </div>
        <div class="rounded-4 shadow col-md-8 p-4 py-md-5">
    	
    	      <div class="container">
		  
        <table class="table caption-top">
          <caption class="text-center">회원 목록</caption>
          <caption>회원 수 : <small th:text="${paging.getTotalElements}"></small> 명</caption>

          <thead>
            <tr>
              <th style="text-align: center;" scope="col">이름</th>
              <th style="text-align: center;" scope="col">회원 이메일</th>
              <th style="text-align: center;" scope="col">전화번호</th>
              <th style="text-align: center;" scope="col">가입목적</th>
              <th style="text-align: center;" scope="col">가입일</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="i , loop : ${paging}">
              <td th:text="${i.username}" style="text-align:center;"></td>
              <td class="w-40">
				  <a th:text="${i.email}"></a>
			  </td>
              <td th:text="${i.tel}" style="text-align:center;"></td>
				<td th:text="${i.purpose == 'taxRefund' ? '세금환급' : (i.purpose == 'claim' ? '기장/신고' : (i.purpose == 'consulting' ? '컨설팅' : '기타'))}" style="text-align:center;"></td>
             <td th:text="${#temporals.format(i.regdate, 'yy-MM-dd')}" style="text-align: center;"></td>
            </tr>
          </tbody>
        </table>
        
        <div th:if="${!paging.isEmpty()}">
          <ul class="pagination d-flex justify-content-center">
            <li th:classappend="${!paging.hasPrevious} ? 'disabled'" class="page-item">
              <a th:href="@{|?page=${paging.number-1}|}" class="page-link text-dark" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
            	th:if="${page >= paging.number-5 and page <= paging.number+5 }"
                th:classappend="${page == paging.number} ? 'active'" 
                class="page-item">
                <a th:text="${page+1}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            
            <li th:classappend="${!paging.hasNext} ? 'disabled'" class="page-item">
              <a th:href="@{|?page=${paging.number+1}|}" class="page-link text-dark" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
      	</div>
      	
      	
      </div>
    	
      	</div>
      </div>
      
	</main>
    <!-- e: main area -->
</div>