<div layout:decorate="~{common/layout/adminLayout}">
	
	<main layout:fragment="adminContent">

		<div class="row justify-content-center mb-5">
			<div class="rounded-4 shadow col-md-8 p-4 py-md-5">
				<div class="container">
					<table class="table caption-top">
						<caption>자료 관리</caption>
						<thead>
							<tr>
								<th style="text-align:center;">No</th>
								<td style="text-align:center;" th:text="${board.id}"></td>
								<th style="text-align:center;">분류</th>
								<td th:text="${board.category == 'news' ? '뉴스' : (board.category == 'inside' ? '일정' :(board.category == 'data' ? '자료' : '기타'))}" style="text-align:center;"></td>
								<th style="text-align:center;">작성일</th>
								<td style="text-align:center;" th:text="${#temporals.format(board.regdate, 'yy-MM-dd HH:mm:ss')}"></td>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th style="text-align:center;">제목</th>
								<td th:text="${board.title}" colspan="5"></td>
							</tr>
							<tr>
								<th style="text-align:center;">내용</th>
								<td th:text="${board.content}" colspan="5"></td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex justify-content-end">
						<a th:href="@{|/admin/data/update/${board.id}|}" class="btn btn-sm btn-primary m-1">수정</a>
						<form th:action="@{|/admin/data/delete/${board.id}|}" method="post">
							<button type="submit" class="w-10 btn btn-sm btn-secondary m-1">삭제</button>
						</form>
					</div>
				</div>
			</div>
		</div>

	</main>
</div>