 <html layout:decorate="~{common/layout/defaultLayout}">
    <!-- s : main area -->
    <main layout:fragment="content">
		
      <div class="agency d-flex align-items-center justify-content-center bg-body-secondary bg-opacity-50">
        <div class="text-center">
          <h4 class="fw-bold">기장/신고</h4>
          <small class="fw-light">세금 해결</small>
        </div>
      </div>

      <!-- s : breadcrumb -->
      <div class="container my-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="claim">
                경정청구
              </a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              기장/신고
            </li>
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="consulting">
                컨설팅
              </a>
            </li>
          </ol>
        </nav>
      </div>
      <!-- e : breadcrumb -->

      <div class="text-center m-3 p-3">
        <h3>세금 걱정이 아닌<br/>
          사업에 집중할 때 입니다.
        </h3>
      </div>


      <div class="container">

        <div class="text-center">
          <span class="border-bottom d-block w-25 m-auto my-2">01</span>
          <h3>세금 신고 대행</h3>
        </div>

        <!-- s : agency-item -->
        <div class="row text-center p-3">
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">01</span>
            <p>부가가치세 예정 및<br/>
              확정신고 대행 업무</p>
            <img src="../images/agency_item01.png" alt="agency">
          </div>
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">02</span>
            <p>종합소득세 확정신고 대행<br/>
            및 세무조정 업무</p>
            <img src="../images/agency_item01.png" alt="agency">
          </div>
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">03</span>
            <p>성실신고확인자 위임 및<br/>
            세무조정 신고업무</p>
            <img src="../images/agency_item01.png" alt="agency">
          </div>
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">04</span>
            <p>법인세 세무조정 및<br/>
            신고대행 업무</p>
            <img src="../images/agency_item01.png" alt="agency">
          </div>
        </div>
        <!-- e : agency-item -->

        <div class="text-center p-3">
          <span class="border-bottom d-block w-25 m-auto my-2">02</span>
          <h3>장부 기장 업무</h3>
        </div>

        <div class="row text-center d-flex justify-content-center">
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">01</span>
            <p>부가가치세 예정 및<br/>
            확정신고 대행 업무</p>
            <img src="../images/agency_item01.png" alt="agency">
          </div>
          <div class="agency-item col-6 col-lg-3 p-3">
            <span class="border-bottom">02</span>
            <p>종합소득세 확정신고 대행<br/>
            및 세무조정 업무</p>
            <img src="../images/agency_item01.png" alt="agency">
            </div>
        </div>

        <hr>

        <div class="row featurette d-flex justify-content-center align-items-center">
          <div class="col-md-6 text-center p-5">
            <h3>매년 반복되는 세금 신고 !</h3>
            <p class="text-secondary">세무스미스는 고객님의 예상 납부세금을 미리 안내하여<br/>
              세금부담에 대한 두려움을 덜어드립니다.</p>
          </div>
          <div class="col-md-6 text-center">
            <img class="mx-5" src="../images/agency_item02.png" alt="agency" style="width: 80%">
          </div>
        </div>
    
        <hr>
    
        <div class="row featurette d-flex justify-content-center align-items-center">
          <div class="col-md-6 order-md-2 text-center p-5">
            <h3>세무사 선택의 기준은<br/>
              단순 가격이 아닌<br/>
              서비스의 질입니다.</h3>
            <p class="text-secondary">세무스미스는 고객님께서 다방면으로<br/>
              절세할 수 있는 서비스를 제공합니다.</p>
          </div>
          <div class="col-md-6 order-md-1 text-center">
            <img class="mx-5" src="../images/agency_item03.png" alt="agency" style="width: 80%">
          </div>
        </div>
  
      </div>

    </main>
    <!-- e: main area -->

</body>

</html>