 <html layout:decorate="~{common/layout/defaultLayout}">
    <!-- s : main area -->
    <main layout:fragment="content">
		
      <div class="claim d-flex align-items-center justify-content-center bg-body-secondary bg-opacity-50">
        <div class="text-center">
          <h4 class="fw-bold">경정 청구</h4>
          <small class="fw-light">절세 해결</small>
        </div>
      </div>

      <div class="container my-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb breadcrumb-custom overflow-hidden text-center bg-body-tertiary border rounded-3">
            <li class="breadcrumb-item" aria-current="page">
                경정청구
            </li>
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="./agency.html">
                기장/신고
              </a>
            </li>
            <li class="breadcrumb-item">
              <a class="link-body-emphasis fw-semibold text-decoration-none" href="./consulting.html">
                컨설팅
              </a>
            </li>
          </ol>
        </nav>
      </div>

      <div class="claim-01 text-center m-3 p-3">
        <h4 class="fw-bold">여러분이 못 받았던 환급 가능 세액을 받아드립니다.</h4>
      </div>

      <div class="text-center">
        <h3>경정청구란?</h3>
        <p>경정청구는 받을 수 있는 감면, 공제 등을 누락하여<br/>
          더 납부하신 세금을 법에 따라 수정하여 환급을 청구하는 제도입니다.</p>
      </div>

      <div class="container">
        <div class="text-center">
          <h3>경정청구 진행 절차</h3>
          <img class="bg-secondary" src="../images/process.png" style="width: 100%;" alt="process">
          <p>경정청구 진단 서비스는<br/>
            100% 무료로 제공됩니다.</p>
        </div>
        <div class="text-center border-top p-3">
          <h3>세무조사 NO !</h3>
          <p>경정청구는 국세기본법 81조 4(세무조사권 남용 금지)에 따라<br/>
            열거하고 있는 사유에 해당하지 않으므로 세무조사 대상이 될 수 없습니다.</p>
        </div>
        <div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <h3>자주하는 질문</h3>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Q. 직원이 1~2명인데 저희 사업장은 세금환급이 가능할까요?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <span>A. 상시근로자 증감에 따라 1명당 최대 12백만원까지 공제가 가능하기에 환급이 가능합니다.</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Q. 저희 사업장은 매년 4~5명씩 동일하게 유지하고 있는데, 세금 변동 사항이 있을까요?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <span>A. 상시근로자는 매년 말 기준이 아닌 평균 상시근로자를 기준으로 산정하기에 동일하게 유지하신다해도 그 안에서 변동이 존재할 수 있습니다.</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Q. 세무사 사무실을 이용하는데 추가적으로 공제받을게 있을까요?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <span>A. 대표님께서 이용하시는 세무사 사무실의 주 업무는 장부를 작성하고 신고를 진행해주는 것입니다. 세무회계 샘밀은 개정세법 및 과거에 사후관리라는 위험성 때문에 적용하지 못한 부분을 소급하여 적용해드리기에 공제 받으실 부분이 많이 존재합니다.</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  Q. 저희는 낸 세금이 그리 많지 않고 근로자도 없는데 공제받을 수 있는 부분이 있을까요?
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <span>A. 근로자를 고용하신 적이 존재하거나, 사업 업종에 따른 공제를 놓치시는 부분이 존재하시다면 공제받으실 수 있는 세금은 반드시 존재합니다.</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                  Q. 기장세무사 사무실 측에 자료를 요청하기가 많이 부담스러워요.
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
                <div class="accordion-body">
                  <span>A. 온라인 상담을 통해 기장세무사 사무실에 자료요청없이 환급금액 확인이 가능합니다.</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </main>
    <!-- e: main area -->

</html>