<div layout:decorate="~{common/layout/defaultLayout}">

	<main layout:fragment="content">

		<div class="row justify-content-center">
			<div class="col-md-8 p-4 py-md-5">
				<div class="text-center">
					<small class="fw-light">[ Modify ]</small>
					<h4 class="fw-bold">정보 수정</h4>
				</div>
				<div class="rounded-4 shadow">
					<div class="p-3 pb-4">
						<h4 class="fw-bold mb-0 fs-2 text-center">TAX-SMITH</h4>
						<div class="d-flex justify-content-end">
							<button id="deleteAccountBtn"
								class="w-10 mb-2 btn btn-sm rounded-3 btn-danger">계정삭제</button>
						</div>
					</div>
					<div class="p-3 pt-0">
						<form th:action="@{/user/info/update}" th:object="${userUpdateForm}" method="post">
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="datetime" th:value="${#temporals.format(regdate, 'yy년MM월dd일 HH시mm분')}"
									class="form-control rounded-3" placeholder="email@example.com" disabled>
								<label>가입일</label>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="text" th:field="*{username}" class="form-control rounded-3"
									placeholder="Name" readonly>
								<label for="username">이름</label>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="email" th:field="*{email}" class="form-control rounded-3"
									placeholder="email@example.com" readonly>
								<label for="email">이메일 주소</label>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="password" th:field="*{password1}" class="form-control rounded-3"
									placeholder="Password">
								<label for="password1">현재 비밀번호</label>
								<span th:if="${#fields.hasErrors('password1')}" th:errors="*{password1}"
									style="color: red;"></span>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="password" th:field="*{password2}" class="form-control rounded-3"
									placeholder="Password">
								<label for="password2"><small>새로운 비밀번호(변경시에만 입력)</small></label>
								<span th:if="${#fields.hasErrors('password2')}" th:errors="*{password2}"
									style="color: red;"></span>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<input type="text" th:field="*{tel}" class="form-control rounded-3"
									placeholder="Mobile Number">
								<label for="tel">휴대전화번호 *</label>
							</div>
							<div class="col-md-10 form-floating mb-3 m-auto">
								<select th:field="*{purpose}" class="form-select" aria-label="Floating label select">
									<option selected value="">선택안함</option>
									<option value="taxRefund">세금환급</option>
									<option value="claim">기장/신고 대리</option>
									<option value="consulting">컨설팅</option>
									<option value="etcs">기타</option>
								</select>
								<label for="purpose">가입 목적 (선택)</label>
							</div>
							<div class="d-flex justify-content-center">
								<button class="w-50 mb-2 btn btn-lg rounded-3 btn-primary submit" type="submit">정보 수정</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			document.addEventListener("DOMContentLoaded", function () {

				var errorMessage = /*[[${errorMessage}]]*/ null;
				if (errorMessage != null) {
					alert(errorMessage);
				}

				var deleteAccountBtn = document.getElementById("deleteAccountBtn");
				deleteAccountBtn.addEventListener("click", function () {
					var confirmation = confirm("계정을 삭제하시겠습니까?");
					if (confirmation) {
						location.href="/user/logout";
					}
				});

			});
		</script>

	</main>
</div>