 <html layout:decorate="~{common/layout/defaultLayout}">
    <!-- s : main area -->
    <main layout:fragment="content">

      <div class="about d-flex align-items-center justify-content-center bg-body-secondary bg-opacity-50">
        <div class="text-center">
          <small class="fw-light">[ INTRODUCTION ]</small>
          <h4 class="fw-bold">회사 소개</h4>
        </div>
      </div>

      <div class="text-center border-top m-3 p-3">
        <h4 class="fw-bold">인사말</h4>
        <small class="fw-light">greeting</small>
      </div>

      <div class="px-3 text-center">
        <h3>세무업무는 세무스미스</h3>
        <p class="lead">다양한 세무 영역의 전문가들이 함께하고 있으며,<br/>
          클라이언트에게 최적화된 최고의 절세 솔루션 서비스를 제공합니다.</p>
      </div>

      <!-- s : card group -->
        <div class="row text-center m-1 p-5">
          <div class="col-md-3">
            <div class="min-max-400 card py-5 about-card01 bg-body-secondary bg-opacity-25">
              <div class="card-body text-light">
                <small class="card-text">SPEED</small>
                <h4 class="card-title">신속성</h4><br/>
                <p>고객의 니즈를 빠르게<br/>
                  충족시킬 수 있도록<br/>
                  신속한 대응 및<br/>
                  소통을 추구합니다.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="min-max-400 card py-5 about-card02 bg-body-secondary bg-opacity-25">
              <div class="card-body">
                <small class="card-text">PROFESSIONALISM</small>
                <h4 class="card-title">전문성</h4><br/>
                <p>수시로 개정되는<br/>
                  세법을 확인하여<br/>
                  고객의 정당한 권리를<br/>
                  확보할 수 있는<br/>
                  방안을 제시합니다.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="min-max-400 card py-5 about-card03 bg-body-secondary bg-opacity-25">
              <div class="card-body text-light">
                <small class="card-text">STABILITY</small>
                <h4 class="card-title">안정성</h4><br/>
                <p>세무와 관련하여<br/>
                  발생할 수 있는<br/>
                  다양한 문제들에 대하여<br/>
                  면밀히 검토하여 사후관리<br/>
                  조건 및 해결책을<br/>
                  제시합니다.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="min-max-400 card py-5 about-card04 bg-body-secondary bg-opacity-25">
              <div class="card-body">
                <small class="card-text">CLIENT FOCUSED</small>
                <h4 class="card-title">고객중심</h4><br/>
                <p>고객의 입장에서 생각하며<br/>
                  언제든지 편안하게<br/>
                  찾으실 수 있도록<br/>
                  고객 중심 서비스를<br/>
                  제공합니다.</p>
              </div>
            </div>
          </div>
        </div>
      <!-- e : card group -->


      <div class="text-center border-top m-3 p-3">
        <h4 class="fw-bold">오시는 길</h4>
        <small class="fw-light">Location</small>
      </div>
      <div class="container d-flex justify-content-center align-items-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3162.262150298633!2d126.97462108990312!3d37.572444244651265!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca2eb421c44ad%3A0xe955a50c118085f8!2z6rSR7ZmU66y46rSR7J6l!5e0!3m2!1sko!2skr!4v1688038086316!5m2!1sko!2skr" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </main>
    <!-- e: main area -->

</html>