 <html layout:decorate="~{common/layout/defaultLayout}">
    <!-- s : main area -->
    <main layout:fragment="content">

      <div class="team d-flex align-items-center justify-content-center bg-body-secondary bg-opacity-50">
        <div class="text-center">
          <small class="fw-light">[ MEMBER ]</small>
          <h4 class="fw-bold">세무사 소개</h4>
        </div>
      </div>

      <!-- S : 대표 세무사 -->
      <div class="text-center border-top m-3 p-3">
        <h4 class="fw-bold">대표 세무사</h4>
        <small class="fw-light">Representative</small>
      </div>

      <div class="container col-6">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-12 col-sm-12 col-lg-6">
            <img src="../images/member/member01.jpg" class="d-block" alt="Representative" width="220" height="220" loading="lazy" style="border-radius: 50%;">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 p-0">
            <div>
            <h3>SAM-SMITH</h3>
            <p>대표 세무사, 경영 지도사</p>
            <p>주요 경력</p>
            <span>現 세무스미스 대표 세무사</span><br/>
            <span>現 절세연구소 파트너 세무사</span><br/>
            <small>前 세**자 세무 자문</small><br/>
            <small>前 쿠* 세무 자문</small><br/>
            <small>前 무지개세무법인 세무사</small><br/>
            <small>前 한국 신용보증재단</small>
            </div>
          </div>
        </div>
      </div>
      <!-- E : 대표 세무사 -->

      <!-- S : 파트너 세무사 -->
      <div class="text-center border-top m-3 p-3">
        <h4 class="fw-bold">파트너 세무사</h4>
        <small class="fw-light">Partner</small>
      </div>
      <div class="container col-6">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-12 col-sm-12 col-lg-6">
            <img src="../images/member/member02.jpg" class="d-block" alt="Partner" width="220" height="220" loading="lazy" style="border-radius: 50%;">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 p-0">
            <div>
            <h3>HWANG-SMITH</h3>
            <p>파트너 세무사</p>
            <p>주요 경력</p>
            <span>現 세무스미스 세무사</span><br/>
            <span>現 절세연구소 파트너 세무사</span><br/>
            <small>前 세**자 세무 자문</small><br/>
            <small>前 쿠* 세무 자문</small><br/>
            <small>前 한국 신용보증재단</small>
            </div>
          </div>
        </div>
      </div>
      <div class="container col-6">
        <div class="row flex-lg-row align-items-center g-5 py-5">
          <div class="col-12 col-sm-12 col-lg-6">
            <img src="../images/member/member03.jpg" class="d-block" alt="Partner" width="220" height="220" loading="lazy" style="border-radius: 50%;">
          </div>
          <div class="col-12 col-sm-12 col-lg-6 p-0">
            <div>
            <h3>UNHOLY-SMITH</h3>
            <p>파트너 세무사</p>
            <p>주요 경력</p>
            <span>現 세무스미스 세무사</span><br/>
            <span>現 절세연구소 파트너 세무사</span><br/>
            <small>前 세**자 세무 자문</small><br/>
            <small>前 쿠* 세무 자문</small><br/>
            <small>前 무지개세무법인 세무사</small><br/>
            </div>
          </div>
        </div>
      </div>
      <!-- E : 파트너 세무사 -->
    </main>
    <!-- e: main area -->

</html>