<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{common/fragments/head::headFragment}" />
<body>
	
	<!-- icons Import -->
	<th:block th:replace="~{common/fragments/icons::iconsFragment}"></th:block>
	
	<!-- header Import -->
	<th:block th:replace="~{common/fragments/header::headerFragment}"></th:block>
	
	<!-- content Import -->
	<div class="container-xxl m-0 p-0 m-auto">
	<th:block layout:fragment="content"></th:block>
	</div>

	<!-- footer Import -->
	<th:block th:replace="~{common/fragments/footer::footerFragment}"></th:block>
	
	<!-- Login Import -->
	<th:block th:replace="~{common/fragments/loginForm::loginFormFragment}"></th:block>

	<!-- custom script Import  
    <th:block layout:fragment="script"></th:block>-->
</body>

</html>